<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">

<authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
                users-by-username-query=
                    "select userName,userPassword, enable from User where userName=?"
                authorities-by-username-query=
                    "select userName, role from User where userName =?  " />
        </authentication-provider>
    </authentication-manager>

	<!-- enable use-expressions -->
	<http auto-config="true" use-expressions="true">
		
		<!-- ROLE_ADMIN -->		
		<intercept-url pattern="/CategoryDB" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/DescriptionDB" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/ProductDB" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/UserDB" access="hasRole('ROLE_ADMIN')"/>
        
        <!-- ROLE_ANONYMOUS -->
        <intercept-url pattern="/logout" access="hasRole('IS_AUTHENTICATED_ANONYMOUSLY')" />
		
		<!-- ROLE_USER -->
		<intercept-url pattern="/addToCartHome-{productID}" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/viewCart" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/addToCartShop-{productID}" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/addToCartViewProduct-{productID}" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/delete-{cartItemsID}" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/addWishHome-{productID}" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/Account" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/BillAddress" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/Orders" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/AccountAddress" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/AccountWishlist" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/Checkout" access="hasRole('ROLE_USER')" />
		
		
		<!-- access denied page -->
		<access-denied-handler error-page="/403" /> 
		<form-login
		    login-page="/Register"
		    login-processing-url="/perform_login"
		    default-target-url="/"
			authentication-failure-url="/Register?error"
			username-parameter="userName"
			password-parameter="userPassword" />
		<logout logout-success-url="/?logout" />
		<!-- enable csrf protection -->
		<csrf disabled="true" />
	</http>
	</beans:beans>